@charset "urf-8";

* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    background-color: #eee;
    padding: 24px 64px;
    justify-content: space-between;
}

header img {
    width: 50px;
}

/* hero */

.hero {
    display: flex;
}
.hero img{
    transform: scale(0.7);
}

.begin {
   font-weight: bold;
    font-size: 24px;
    margin: 24px;
    width: 100%;
    position: relative;
    letter-spacing: .1em;
    line-height: 128px;
}


.beginContents {
    width: 100%;
    position: absolute;
    text-align: center;
    top:20%;
}


#subtitle {
    font-size: 48px;
    white-space: nowrap;

}

#title {
    font-size: 96px;

}

#sectionTitle{
    text-align: center;
    font-size: 64px;
    margin:24px;
}
.section{
    display: flex;
}
.section-left{
    width:50%;
}
.section-left img{
    width:80%;
    margin:8px 64px;
    
}
.section-right{
    width: 50%;
    margin-right: 32px;
}

.section-right h3{
    font-size: 64px;
    font-weight: bold;
    color:#1E87FF;
    margin:48px 16px;
}
.section-right p{
    line-height: 64px;
    font-size: 24px;
    font-weight: bold;
    margin:24px;
}