@charset "urf-8";



/* 全体 */
* {
    margin: 0;
    font-family: "Inter", sans-serif;
    letter-spacing: .1em;
}

p {
    font-weight: bold;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    color: #1E87FF;
    margin: 48px 64px;
}


/* ヘッダー */
header {
    display: flex;
    background-color: #eee;
    padding: 24px 64px;
    justify-content: space-between;
}

header img {
    width: 50px;
}



/* hero */
.hero {
    display: flex;
}

.hero img {
    transform: scale(0.7);
}

.hero-right {
    font-weight: bold;
    font-size: 24px;
    margin: 24px;
    width: 100%;
    position: relative;
    letter-spacing: .1em;
    line-height: 128px;
}

.hero-rightContents {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
}

#subtitle {
    font-size: 48px;
    white-space: nowrap;
}

#title {
    font-size: 96px;
}



/* QuickReviewとは？ */
#sectionTitle {
    text-align: center;
    font-size: 64px;
    margin: 24px;
}

.section {
    display: flex;
    width: 90%;
    margin: 16px auto;
}

.section-left {
    width: 45%;
}

.section-left img {
    margin-left: 160px;
    width: 45%;
}

.section-right {
    margin-top: 24px;
    width: 55%;

}

.section-right p {
    line-height: 64px;
    font-size: 20px;
    font-weight: bold;
    margin: 24px;
}



/* features */
.feature {
    display: flex;
    width: 100%;
    margin: 16px 32px;
    transform: scale(0.9);
}

.feature img {
    width: 60%;
    margin: 0px 64px;
}



/* 志望理由とコンセプトカラー */
.concept {
    background-color: #f2f2f5;
    padding: 64px;
}

.mockup {
    overflow: hidden;
}

.mockup p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.reason p {
    line-height: 32px;
    font-size: 20px;
    margin: 24px;
}

.reasonText {
    width: 80%;
    margin: 16px auto;
}

.conceptColorContent {
    display: flex;
}

.conceptColor-left {
    width: 50%;
}

.conceptColor-left p {
    font-weight: bold;
    color: #1E87FF;
    font-size: 16px;
    margin: 16px;
    letter-spacing: .1em;
}

.colorDescription {
    display: flex;
}

.conceptColor-left img {
    width: 20%;
    margin-left: 128px;
}

.conceptColor-right {
    width: 40%;
}

.conceptColor-right p {
    font-size: 20px;
}


/* serviceProcess */
.serviceProcess {
    padding: 64px;
}

.process {
    display: flex;
}

.process img {
    width: 50%;
    margin-left: 32px;
}

.process-left {
    width: 50%;
}

.process-right {
    width: 50%;
    line-height: 48px;
    font-size: 20px;
    font-weight: bold;
    margin: 24px;
}

.process-01,
.process-02 {
    margin-bottom: 128px;
}

.process-02 img {
    width: 60%;
}

#heading {
    font-weight: bold;
    font-size: 48px;
    margin: 64px 32px;
}

.processText {
    width: 80%;
    line-height: 48px;
    margin: 16px auto;
}

.process-03 #heading {
    text-align: center;
    margin: 0;
}


/* designProcess */
.designProcess {
    background-color: #f2f2f5;
    padding: 64px;
}

.design-01{
    margin-bottom: 128px;
}

.wireFrame {
    margin: 64px;
}

.wireFrame img {
    display: block;
    margin: 16px auto;
    width: 40%;
}

.designText {
    width: 80%;
    margin: 16px auto;
}

.design-02{
    display: flex;
    margin-bottom: 128px;
}
.design-left{
    width:50%;
}
.design-left img{
    margin-top: 64px;
    margin-left:128px;
}
.design-right{
   width:40%;
    line-height: 64px;
    font-size: 20px;
    font-weight: bold;
    margin: 24px;

}
.designContents{
    display: flex;
}
.design-left02{
    width:50%;
    padding: 48px;
}
.design-left02 p{
    font-size: 96px;
    padding:16px auto;
}